nodered.json
[{"id":"9bef9000.3b66c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"56d82227.b70c94","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2e08b5ab.4c9222","type":"mqtt-broker","z":"","name":"mqtt.flespi.io","broker":"mqtt.flespi.io","port":"1883","clientid":"BoooNodeRed1","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e0d1ed78.beca88","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ed6976.a29ad688","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"7788848a.049c4c","type":"ui_group","z":"","name":"Temp","tab":"ed6976.a29ad688","order":1,"disp":true,"width":"6","collapse":false},{"id":"ca361729.b42de8","type":"mqtt in","z":"9bef9000.3b66c8","name":"UniSensor","topic":"booomy/UniSensor","qos":"2","broker":"2e08b5ab.4c9222","x":230,"y":180,"wires":[["34e6a68.92193da"]]},{"id":"34e6a68.92193da","type":"link out","z":"9bef9000.3b66c8","name":"OUt","links":["7952e8c9.2cc0a"],"x":522,"y":314,"wires":[]},{"id":"7952e8c9.2cc0a","type":"link in","z":"56d82227.b70c94","name":"","links":["34e6a68.92193da"],"x":193,"y":250,"wires":[["5c022270.a502c4","86d58e7a.4bc03"]]},{"id":"5c022270.a502c4","type":"debug","z":"56d82227.b70c94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":526,"y":169,"wires":[]},{"id":"86d58e7a.4bc03","type":"change","z":"56d82227.b70c94","name":"Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":413,"y":280,"wires":[["3a3ecf66.a756a","ee053ad5.ec8178","ae5eae59.d0193"]]},{"id":"3a3ecf66.a756a","type":"ui_chart","z":"56d82227.b70c94","name":"Temp","group":"7788848a.049c4c","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"30","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":637,"y":293,"wires":[[],[]]},{"id":"ee053ad5.ec8178","type":"ui_text","z":"56d82227.b70c94","group":"7788848a.049c4c","order":1,"width":0,"height":0,"name":"","label":"Value","format":"{{msg.payload}}","layout":"row-spread","x":666,"y":230,"wires":[]},{"id":"ae5eae59.d0193","type":"ui_gauge","z":"56d82227.b70c94","name":"Level","group":"7788848a.049c4c","order":2,"width":0,"height":0,"gtype":"donut","title":"","label":"","format":"","min":"-130","max":"130","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":631,"y":395,"wires":[]}]